<div class="row mt-3">
  <div class="col-8 offset-2">
    <table>
      <thead>
        <tr>
          <th><button class="btn btn-outline-secondary" (click)="getSortProp('id')">id</button></th>
          <th><button class="btn btn-outline-secondary" (click)="getSortProp('name')">Name</button></th>
          <th><button class="btn btn-outline-secondary" (click)="getSortProp('superpower')">id</button></th>
          <th><button class="btn btn-outline-secondary" (click)="getSortProp('address')">Name</button></th>
          <th>superPowe</th>
          <th>address</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hero of heroes | filter:filterPhrase:'name' | sorter:sortby:direction">
          <td>{{ hero.id }}</td>
          <td>{{ hero.name }}</td>
          <td>{{ hero.superPower }}</td>
          <td>{{ hero.address }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

